<link rel="stylesheet" href="/public/css/testTeacher3File.css">

<div class="container mt-4">

  <!-- Tìm kiếm + nút tạo -->
  <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center mb-4">
    <!-- <input type="text" class="form-control w-auto" placeholder="Tìm kiếm" style="max-width: 300px;" hidden> -->

    <div class="d-flex flex-wrap gap-2">
      <a href="/test-teacher/upload-files-test"><button class="btn btn-primary btn-custom">+ Tạo đề thi</button></a>
    </div>
  </div>

  <!-- Danh sách tất cả -->
  <h5 class="mb-3">Tất cả</h5>
  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>Tên</th>
          <th>Thời gian làm bài</th>
          <th>Đã Giao Cho Lớp</th>
          <th>Sửa lần cuối</th>
        </tr>
      </thead>
      <tbody class="test-teacher-list">
      </tbody>
    </table>
  </div>
</div>

<script>
  async function fetchTests() {
    try {
      const response = await fetch('/test-teacher/api/get-tests/');
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      const tests = await response.json();
      console.log(tests);
      const listItems = document.querySelector('.test-teacher-list');
      listItems.innerHTML = ''; // Clear existing items
      tests.forEach(test => {
        const row = document.createElement('tr');
        row.innerHTML = `
            <td>${test.title || 'no data'}</td>
            <td>${test.test_time +' phút' || 'no data'}</td>
            <td>${(test.class && test.class.length > 0)
              ? test.class.map(classItem => classItem.class_name).join(', ')
              : 'chưa giao'}</td>
            <td>${new Date(test.updatedAt).toLocaleString() || 'no data'}</td>
        `;
        // Gắn sự kiện click để chuyển trang
        row.addEventListener('click', () => {
          window.location.href = `/test-teacher/test-detail?test-id=${test._id}`
        });

        row.style.cursor = 'pointer'
        listItems.appendChild(row);
      });


    } catch (error) {
      console.error('Error fetching tests:', error);
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    fetchTests()


  });
</script>