@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-header: #111c3b;
  --color-bg: #ffffff;
  --color-text: #111827;
  --color-primary-from: #111c3b;
  --color-primary-to: #2563eb;
  --color-surface: #f3f4f6;
}

.light {
  --color-header: #111c3b;
  --color-bg: #ffffff;
  --color-text: #111827;
  --color-primary-from: #111c3b;
  --color-primary-to: #2563eb;
  --color-surface: #f3f4f6;
}

.dark {
  --color-header: #000000;
  --color-bg: var(--color-gray-900);
  --color-text: #f9fafb;
  --color-primary-from: #374151;
  --color-primary-to: #4b5563;
  --color-surface: #374151;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
  header {
    background-color: var(--color-header);
  }
}

@layer utilities {
  .gradient-primary {
    background-image: linear-gradient(to right, var(--color-primary-from), var(--color-primary-to));
  }
}

/* Keyframes for fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
